################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
/Xml2Ds/bin/Debug
/Xml2Ds/obj/Debug
/Xml2Ds/Xml2Ds.csproj.user
